body{
    width: 80%;
    margin: 0 auto;
  }

  .weekdays{
    outline-style: solid;
    outline-width: 1px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .day{
    background-color: #999;
    outline-style: solid;
    outline-width: 1px;
    width: 10vw;
    text-align: center;
  }

  .shift_table {
    outline-style: solid;
    outline-width: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

  }

  .shift_day {
  /*   background-color: #777; */
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    width: 10vw;
    display: inline-block;
  /*   text-align: left; */
  }

  .shift {
    background-color: #999;
  /*   box-sizing: border-box; */
    margin: 5px;
    padding: 5px;

  }

  .shift form{
    display: flex;
    flex-direction: row-reverse;
  }

  .shift form input{
    width:15%;

  }

