{% block content %}

    <section class="weekdays">
      <div class="day">sun</div>
      <div class="day">mon</div>
      <div class="day">tue</div>
      <div class="day">wed</div>
      <div class="day">thu</div>
      <div class="day">fri</div>
      <div class="day">sat</div>

    </section>

    <section class="shift_table">
      <div class="shift_day" id="sun">

  <!--       this is the kind of thing gnerated from db based on what is: -->
        <div class="shift"><p>00:00 - 00:00</p>
          <form><input></input></form>
        </div>

        <div class="shift"><p>00:00 - 00:00</p>
          <form><input></input></form>
        </div>


      </div>

      <div class="shift_day" id="mon">

      </div>

      <div class="shift_day" id="tue">

      </div>

      <div class="shift_day" id="wed">

      </div>

      <div class="shift_day" id="thu">

      </div>

      <div class="shift_day" id="fri">

      </div>

      <div class="shift_day" id="sat">

      </div>

    </section>

{% endblock content %}
