{% extends "base/base.html" %}

{% block content %}

<section class="section_header"><p>Staff / Admin Dashboard</p></section>

<div class="admin_dash">

    {% if user.is_staff %}
    <h2>View current schedule:</h2>
    <div class="button_body">
    <a href="{% url "schedules" %}">View</a>
    </div><br><br>

    <h2>View and approve employee shift prefrences:</h2>
    <div class="button_body">
    <a href="{% url "shifts" %}">View</a>
    </div><br><br>

    <h2>Put new shift on the calendar:</h2>
    <div class="button_body">
    <a href="{% url "shift" %}">Insert</a>
    </div><br><br>

    <h2>Update company details:</h2>
    <div class="button_body">
    <a href="{% url "create_company" %}">Update</a>
    </div><br><br>

    <h2>Export approved schedules as a csv file:</h2>
    <div class="button_body">
    <a href="{% url "csv" %}">Export</a>
    </div><br><br>

    {% endif %}

{% endblock content %}
