{% extends "dash/admin_dashboard.html" %}

{% block content %}

<section class="section_header"><p>View and approve employee shift prefrences</p></section>

<div class="home_back">
    <form id="schedules" method="post"> {% csrf_token %}

        <div class="pref_row">
            <div id="pref_name">name:</div>
                <div id="pref_shift">shift:</div>
                    <div id="pref_needed">needed:</div>
                        <div id="pref_assigned">assigned:</div>
                            <div id="pref_pri">prefrence:</div>
                            <div id="pref_approval">approval:</div>
                          </div>

      {% for shift in schedules %}

        <ul>
            <li>
              <div class="pref_row">
                <div class="pref_name">{{ shift.first_name }} {{ shift.first_name }} {{ shift.last_name }}</div>
                <div class="pref_shift">{{ shift.day }}:{{ shift.start_time }} - {{ shift.end_time }}</div class="">
                <div class="pref_needed">{{ shift.needed }}</div>
                <div class="pref_assigned">{{ shift.assigned }}</div>
                <div class="pref_pri">{{ shift.priority }}</div>
                <input type="checkbox" name="{{ shift.id }}" value="{{ shift.status }}">
              </div>

          </li>
        </ul>
      {% endfor %}
    </form>
    <Section class="submit_section">
    <button type="submit" form="schedules" name="list" value="Submit">Save</button>
    </Section>
</div>
{% endblock content %}

