{% extends "dash/admin_dashboard.html" %}

{% block content %}

    <form id="schedules" method="post"> {% csrf_token %}
      {% for shift in schedules %}
        <ul>
            <li>
            {{ shift.first_name }}
            {{ shift.last_name }} |
            {{ shift.day }}:
            {{ shift.start_time }} -
            {{ shift.end_time }} |
            Needed: {{ shift.needed }} |
            Employees: {{ shift.assigned }} |
            Users priority: {{ shift.priority }}
            <input type="checkbox" name="{{ shift.id }}" value="{{ shift.status }}">
          </li>
        </ul>
      {% endfor %}
      {% comment %} {{ form.as_p }} {% endcomment %}
    </form>
    <button type="submit" form="schedules" name="list" value="Submit">Save</button>
{% endblock content %}




{% comment %} <button type="submit" name="list" form="cal_select" value="Submit">Submit</button> {% endcomment %}
