{% extends 'base/home.html' %}

{% block content %}
<div class="registration-form container">
  <h2>Register today!</h2>
  <form method="post"> {% csrf_token %}
    <span>
      <input type = 'text' placeholder="Name"></br></br>
      <input type = 'email' placeholder="Enter Email"></br></br>
      <input type = "password" placeholder="Enter Password"></br></br>
      <input type = "password" placeholder="Confirm Password"></br></br>
    </span>
    
    {{ form.as_p }}
    <input type="submit" value="Register"/>
  </form>
</div>
{% endblock %}
