{% extends "base/base.html" %}

{% block content %}
<section class="section_header"><p>About Time Commit</p></section>
<div class="home_back">
<span>About and Stuff </span>
 <h3> Chris Turner</h3>
    <a href="https://www.linkedin.com/in/cturnr/" target="_blank">LinkedIn</a>
    <a href="https://github.com/devturner" target="_blank">GitHub</a>
 <h3>Jason Burns</h3>
    <a href="https://www.linkedin.com/in/jasonburns315" target="_blank">LinkedIn</a>
    <a href="https://github.com/jasonb315" target="_blank">GitHub</a>
 <h3>Michael Sklepowich</h3>
    <a href="https://www.linkedin.com/in/michael-sklepowich/" target="_blank">LinkedIn</a>
    <a href="https://github.com/michaelsklepowich" target="_blank">GitHub</a>
 <h3> Stephen Harper</h3>
    <a href="https://www.linkedin.com/in/sdeanharper" target="_blank">LinkedIn</a>
    <a href="https://github.com/IndigoShock" target="_blank">GitHub</a>
    <a href="https://twitter.com/sdeanharper" target="_blank">Twitter</a>
 <h3>J Christie</h3>
    <a href="https://www.linkedin.com/in/j-christie/" target="_blank">LinkedIn</a>
    <a href="https://github.com/jjbby" target="_blank">GitHub</a>
</div>
{% endblock  %}
