{% load static %}

<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base.html</title>
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto|Space+Mono" rel="stylesheet">

  </head>

  <body>

    <section id="header_top_space">
        <div id="namebox">
            {% if user.is_authenticated %}
            <div>{{ user.username }}</div>
            {% endif %}
          </div>
    </section>

    <header id="base_header">


      <div id="logobox">
          <a href="{% url "home" %}"><img id="logo" src="{% static 'img/timeCommit_main.png' %}" id="main_logo" alt="time"></a>
      </div>

      <div id="logo_link"></div>

        {% if user.is_authenticated %}


          {% if user.is_staff %}
          <div class="button_wrap">
            <a href="{% url 'admin_dash' %}">Admin dash</a>
          </div>
          {% endif %}


          {% else %}
          <div class="button_wrap" id="login_button_div">
            <a href="{% url 'login' %}">login</a>
          </div>

        {% endif %}

          {% if user.is_authenticated %}
          <div class="button_wrap" id= "logchange">
          <a href="{% url 'logout' %}">logout</a>
          </div>
          {% endif %}


    </header>

    <main>
      {% block content %}
      <h3>No Content</h3>
      {% endblock content %}
    </main>

  </body>

  <footer>
    <a href="{% url "about" %}">about</a>
  </footer>

</html>
