{% load static %}

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock %}
      </title>
    <link rel="stylesheet" href="{% static "styles/employee_dashboard.css" %}">
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="{% url "schedules" %}">schedules</a></li>
          <li><a href="{% url "shift" %}">shift</a></li>
          {% comment %} <li><a href="{% url "admin_dash" %}">Admindash</a></li> {% endcomment %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      <h3>No Content</h3>
      {% endblock content %}
    </main>

    <footer>

    </footer>

  </body>

</html>
