{% extends "base/base.html" %}

{% block content %}
<h1>save time!</h1>




<nav>
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "login" %}">Login / Register</a></li>
    </ul>
  </nav>


{% if user.is_authenticated %}
<nav>
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "schedules" %}">schedules</a></li>
      <a href="{% url 'logout' %}">logout</a>
    </ul>
  </nav>


{% endif %}

{% endblock  %}
