{% extends "base/base.html" %}

{% block content %}

<section class="section_header"><p>Home</p></section>

<div class="home_back">

Welcome to time commit!<br><br><br>


{% if user.is_authenticated %}

<h2>To select and submit shift prefrences:</h2>
<div class="button_body">
    <a href="{% url "schedules" %}">submit</a>
</div><br>


          {% if user.is_staff %}
          <h2>Or go to the admin dashboard:</h2>
          <div class="button_body">
            <a href="{% url 'admin_dash' %}">Over 9000</a>
          </div><br>
          {% endif %}
          {% endif %}

</div>



{% endblock  %}
